// Home
.home,.collect {
  .item{
    &:hover {
      cursor: pointer;
    }
    .card {
      background-color: #000;
      .card-body {
        color: #fff;
        padding: 0;
        .card-title {
          font-size: 1rem;
        }
      }
  }
  }
}

//PlayVideo
.playVideo {
  color: #fff;
  .videoWrap {
    max-width: 850px;
    width: 100%;
    height: 480px;
  }
  h2 {
    font-size: 1.5rem;
  }
  .btn-danger {
    &:hover {
      background-color: #dc3545;
      color: #fff;
    }
  }
  .btn-outline-danger {
    &:hover {
      background-color: transparent;
      color: #dc3545;
    }
  }
  .btn-danger,.btn-outline-danger {
    &:focus {
      box-shadow: 0 0 0;
    }
  }
}